MANIFEST
META.*
MYMETA.*
_build/
.build/
build/
blib/
inc/
pm_to_blib
.*.sw?
.nfs*
*#
.#*
*~
*.bak
*.old
cpanfile.snapshot
local/
cover_db/
.perl-version
Plack-Middleware-HealthCheck-*/
Plack-Middleware-HealthCheck-*.tar.*
